$fondo_nav_footer: rgba(2, 2, 2, 0.418);

$iconosredes:(
    instagram:rgb(221,42,123),
    facebook: rgb(59,89,152),
    whatsapp:rgb(0, 187, 45),
    twitter:rgb(0,172,238),
);

@each $redes, $color in $iconosredes{
    .bi-#{$redes}{
        color: $color;
    }    
}

@mixin estilo ($padding, $bg,){
    padding: $padding;
    background-color: $bg;        
}
.logo_texto{
    @include estilo(5px, #19875485)
}